* {
	font-family:'Noto Sans',sans-serif;
}

body {
	background:#fff;
	padding-top: 20px
}

h1 {
	font-family:'Lora',serif;
	font-weight:bold;
}

h2 {
	font-size:2em;
}

h3 {
	font-size:1.6em;
}

.container {
	margin: 0px auto 50px auto;
}

.btn-group {
	display: inline-block;
}

.btn-primary {
	margin: 15px;
	background: #0099cc;
    color: #ffffff;
	border:1px #888;
	border-radius: 0px;
	padding:10px;
}

.btn-primary:hover {
	background:#ffc100;
}

.btn-primary.raised {
	box-shadow: 3px 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #ffc100;
	margin-bottom: -3px;
	margin-top: 3px;
	box-shadow: 3px 3px 0 0 #ffe066;
}

.btn-warning{
	font-size:1.5em;
	background:#FF5719;
	border:1px #888;
	border-radius: 1px;
	margin-top: 15px;
}

.btn-warning.raised {
	box-shadow: 3px 3px 0 0 #990000;
}

.btn-success {
	font-size:1.5em;
	background:#00b33c;
	border:1px #888;
	border-radius: 1px;
	margin-top: 15px;
}

.btn-success:hover {
	font-size:1.5em;
	background:#007f00;
	border:1px #888;
}

.btn-success.raised {
	box-shadow: 3px 3px 0 0 #006622;
}

.btn-success.raised:active, .btn-success.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.jumbotron{
	background-color: #ffffff;
	padding-bottom: 20px;
	margin: auto;
}

#dog{
	margin-left: 0px;
	padding: -20px;
	width: 70%;
	min-width: 50px;
	max-width: 200px;

}

.rainbow{
	text-align: left;
}

#tagline{
	margin: -20px 0px 0px 0px;

	text-align: left;
}

.navbar{
	background-color: #ffc966;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    margin: auto;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
}    
#signup-btn {
	margin: 0px 15px 0px -15px;
}

/* I had to do this weird margin shift to overwrite the original btn-primary settings*/

#fetchGame {
	margin-top: 20px;
}

/* Header color changer! */ 
.rainbow span:nth-child(7n+1):hover {
	color: #ffc100;
}
.rainbow span:nth-child(7n+2):hover {
	color: #ff9a00;
}
.rainbow span:nth-child(7n+3):hover{
	color: #b20000;
}
.rainbow span:nth-child(7n+4):hover{
	color: #007485;
}
.rainbow span:nth-child(7n+5):hover{
	color: #03690a;
}
.rainbow span:nth-child(7n+6):hover{
	color: #442270;
}
.rainbow span:nth-child(7n+7):hover{
	color: #37addb
}

#signup-nav {
	padding: 10px 20px 10px 20px;
}

h3 {
	font-size:1.6em;
}

.renderedGame {
	background-color:#eee;
	margin: 20px 0;
	padding:10px;
}

.renderedResult {
	font-weight:bold;
	font-size:1.6em;
}

.row {
	margin:30px 0;
}

.createButton{
	margin-right: 5px
}

#submitButton{
	margin-right: 20px;
}

#tutorialBtn{
	margin-left: 5px;
}
.carousel-caption {
	font-size:2.5em;
	color:#000;
	text-shadow:none;

}

