/* Typography and general colors/margins */

body {
	background:#eee;
	margin-top: 20px;
}

#myQuestionButton
{
    cursor: pointer;
}

h1 {
	font-family:'Patua One',serif;
	font-size:3.5em;
	font-weight:bold;
}

h2, h3 {
	font-family:'Patua One',sans-serif;
	font-weight:lighter;
}

h2 {
	font-size:2em;
}

h3 {
	font-size:1.6em;
}

.renderedGame {
	background-color:#ddd;
	margin: 10px 0;
	padding:30px 50px;
}

.renderedResult {
	font-weight:bold;
	font-size:1.6em;
}

.list-group {
    webkit-box-shadow: none;
    box-shadow: none;
}

a {
	color:inherit !important;
	text-decoration:inherit !important;
}

.container {
	margin-bottom: 50px;
	padding: 0 !important;
}

.navbar {
	margin-bottom:50px;
}

.dog {
	width: 70%;
	min-width: 50px;
	max-width: 180px;
	padding:10px;
}

.rainbow {
	font-face:'Lora';
	text-align: left;
}

.carousel-caption {
	font-size:1.7em;
	color:#000;
	text-shadow:none;
	text-align: left;
	top: 40%;
	transform: translateY(-50%);
}

.green-percent, .blue-percent, .yellow-percent {
		font-size:4em;
}

.green-percent {
	color:#007f00;
}

.blue-percent {
	color:#0099cc;
}

.yellow-percent {
	color:#d19e1f;
}

/* This is a bad way to make user login/creategame & logout buttons centered-ish with logo */

.centered-with-logo {
    line-height: 70px;
}

/* Overriding some Bootstrap button defaults 
primary - blue buttons, success - green, warning - yellow */


.btn {
	box-shadow: 2px 2px 0 0 #bbb;
	font-family:'Noto Sans', sans-serif;

}

.btn-group {
	display: inline-block;
}

.btn-primary {
	margin: 12px;
	background: #0099cc;
    color: #ffffff;
	border:1px #888;
	border-radius: 0px;
	padding:10px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	background-color: #fff !important;
	color:#0099cc !important;
}

.btn-warning {
	font-size:1.5em;
	background:#FF5719;
	border:1px #888;
	border-radius: 1px;
	margin-left: 12px;
}

.btn-warning:hover {
	background:#cc0000;
}

.btn-success {
	font-size:1.5em;
	padding:10px 20px;
	background:#00b33c;
	border:1px #888;
	border-radius: 1px;
	margin-bottom: 10px;
}

.renderedGame .btn-success {
	margin-top: 20px;
}


.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: #ffffff !important;
  background-color: #007f00 !important;
  border-color: #494F57 !important;
}

/* Horizontal line styling */ 

hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #ddd; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #ddd; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

/* Header color changer! */ 
.rainbow span:nth-child(7n+1):hover {
	color: #ffc100;
}
.rainbow span:nth-child(7n+2):hover {
	color: #ff9a00;
}
.rainbow span:nth-child(7n+3):hover{
	color: #b20000;
}
.rainbow span:nth-child(7n+4):hover{
	color: #007485;
}
.rainbow span:nth-child(7n+5):hover{
	color: #03690a;
}
.rainbow span:nth-child(7n+6):hover{
	color: #442270;
}
.rainbow span:nth-child(7n+7):hover{
	color: #37addb
}

.pageHeader {
	font-size: 3em;
	margin-bottom: 50px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #666;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

@media(max-width: 600px){
	.dog{
		display: none;
	}
}

@media(max-width: 400px){
	h1{
		font-size: 2em;
	}

	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1em;
	}
	h4{
		font-size: 1em;
	}
	.renderedResult{
		font-size: 1.2em;
	}
	.btn{
		font-size: 1em;
	}
	.carousel-caption {
	font-size:.8em;
	color:#000;
	text-shadow:none;
	text-align: left;
	top: 30%;
	transform: translateY(-50%);
	}
	.container {
	margin-bottom: 50px;
	padding: 0 15px !important;
}

}

